@charset "UTF-8";
/*
typical device breakpoints
cell antigo   320-480px
celular       481-600px
cell novo     601-786px
tablets       769-1024px
desktops      1025-1200px
TV & large 1201px +
*/
/*todas as demais mídias*/
@media print{
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    main > h1{
        text-shadow: none;
        color: black;
        border: 2px dashed black;
    }
    img#phone{ display: none; }
    img#print{ display: block; }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background: url('../imagens/back-tablet.jpg') center center no-repeat;
        background-size: cover;
    }
    img#phone{ display: none; }
    img#tablet{ display: block; }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background: url('../imagens/back-pc.jpg') center center no-repeat;
        background-size: cover;
    }
    img#phone{ display: none; }
    img#pc{ display: block; }
}
@media screen and (min-width: 1200px){
    body{
        background: url('../imagens/back-tv.jpg') center center no-repeat;
        background-size: cover;
    }
    img#phone{ display: none; }
    img#tv{ display: block; }
}