@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(230, 230, 230);
}
header{
    background-color: blueviolet;
}
header h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
}
span#burger{
    display: block;
    text-align: center;
    color: white;
    font-size: 2em;
}
menu {
    background-color: rgb(116, 24, 201);
    display: none;
}
menu li{
    list-style-type: none;
    width: 100vw;
    background-color: rgb(111, 22, 194);
    padding: 10px;
    text-align: center;
    border-top: 2px solid rgba(0, 0, 0, 0.4);
}
menu a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
menu li:hover{
    background-color: rgb(129, 33, 219);
}
main{
    width: 90vw;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
main article{
    padding-bottom: 20px;
}
main h2{
    padding: 10px 0px;
    font-size: 1.7em;
}
main p{
    text-align: justify;
    font-size: 1.2em;
    text-indent: 1.25em;
    margin-bottom: 10px;
}